<h2 mat-dialog-title>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>
<mat-dialog-content>
  <form [formGroup]="employeeForm" class="dialog-form">
    <div class="form-container">
      <mat-form-field class="small-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="small-field" appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="number">
      </mat-form-field>

      <mat-form-field class="small-field" appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Employee">Employee</mat-option>
          <mat-option value="Manager">Manager</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveEmployee()" [disabled]="!employeeForm.valid">
    {{ isEditMode ? 'Update Employee' : 'Add Employee' }}
  </button>
</mat-dialog-actions>
